<h1>Wildlife Tracker</h1>
<h2>Edit the selected record below</h2>

<form action="/update" method="patch">
<label for='update_name'>Name</label>
<input id='update_name' type='text' name='update_name'>
<input type='submit' value='Save Updated Record'>
</form>
