<h1>Welcome to Wildlife Tracker</h1>

<h3>New Species</h3>
<form action="/species/create" method ="post">
  <label for='name'>Name</label>
  <input id='name' type='text' name='name '></input>
  <input type='submit' value='Save'></input>
</form>

<h2>View all records below</h2>
<table>
  <tr>
    <th>Species Name</th>
    <th>Created</th>
  </tr>
  <tr>
    <td>Lion</td>
    <td>2016-02-01</td>
</table>

<form action="/species/edit" method = 'get'>
  <input type='submit' value='Edit Record'></input>
</form>
